.menu,.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu {
	width: 400px;	
}

.menu li {
	margin: 0;
	margin-bottom:15px;
	padding: 0;
	list-style: none;
	vertical-align:middle;
}

.menu img {
	vertical-align: middle;
	padding-right: 5px;
	}

.menu a {
	display: block;
	padding: 2px 5px;
	color: #5B80B2;
	text-decoration: none;
	font-size:12px;	
	font-weight:bold;
}

.menu a:hover {
	color: #036;
}

.menu a:focus {
	  outline: 0;
	
	}

.menu ul li {
	width:100%;
	margin-bottom:0;
	margin-left: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu ul a {
}

.hidden {
	display: none;
}