{% extends "admin/change_form.html" %}

{% block extrahead %} {{ block.super }}

<link type="text/css" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.8.6.custom.css" rel="Stylesheet" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.6.custom.min.js"></script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&region=ar&language=es"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.gmap.min.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}js/combo_box.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/calendar_fix.js"></script>

<script>
$(function() {	
	$( "#id_cliente" ).combobox();
	
	$('<span> <a id="show_map" href="#"> Ver en Mapa</a></span><div id="map" style="width: 640px; height: 480px;border:1px solid;"></div>').insertAfter('#id_direccion');
	$('#id_direccion').change(update_map);


	geocoder = new google.maps.Geocoder();
	
	$("#id_direccion").autocomplete({
	      //This bit uses the geocoder to fetch address values
	      source: function(request, response) {
	        geocoder.geocode( {'address': request.term, 'region' : '.AR' }, function(results, status) {
	          response($.map(results, function(item) {
	            return {
	              label:  item.formatted_address,
	              value: item.formatted_address,
	              latitude: item.geometry.location.lat(),
	              longitude: item.geometry.location.lng()
	            }
	          }));
	        })
	      },
	      //This bit is executed upon selection of an address
	      change: function(event, ui) {
	        update_map();
	      }
	    });
	
	

	if ($('#id_direccion').val()) {update_map();};
	
	$('#map').hide();
	$('#show_map').click(function(){
		$('#map').toggle(500, update_map);		
	});
	
	
});

function update_map() {
	if( $('#map').is(':visible') ) {	
		$("#map").gMap({zoom:15, maptype:'ROADMAP', 
			address:$('#id_direccion').val(),
			markers:[{address:$('#id_direccion').val()}]});	
	}
}

</script>


{% endblock %}