{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a></div>{% endblock %}

{% block content %}

<p>Ha cerrado la sesión correctamente.</p>

<p><a href="../">{% trans 'Log in again' %}</a></p>

{% endblock %}
