{% extends "admin/base.html" %}
{% load i18n %}
 
{% block title %}{{ title }} | {% trans 'Gestión de Proyectos' %}{% endblock %}
 
{% block extrastyle %}
<style>
#header{ background-color: #fff; border-bottom: solid 3px #DC8A47; }
#header a:link,
#header a:visited {
    color: #5B80B2;
}
 
#branding h1{ color: #fff; }
.module h2, .module caption, .inline-group h2 { background:#ccc url(/admin_media/img/admin/nav-bg.gif) bottom left repeat-x; color: #333940; }
a.section:link, a.section:visited { color: #F26E09; }
#user-tools {
    color: #F26E09;
}
#user-tools a {
    clor: blue;
}
p.texto {
    color:#F26E09;
    font-weight: bold;
}
</style>
{% endblock %}
 
{% block branding %}
{% comment %}<h1 id="site-name" > {% trans 'TSYA - Gestion de obras' %}</h1>{% endcomment %}
<span style="margin-left: 5px"><a href="/admin/"><img src=/media/images/report-logo.jpg></a></span>
{% endblock %}
 
{% block nav-global %}{% endblock %}

