{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/menu.css" />

{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.js"></script>


<script type="text/javascript">
$(document).ready(function() {
	$(".subitems").hide();

	$(".menu li").click(function() {
		$(this).children('.subitems').toggle(250);
	})

});

</script>
{% endblock %}

{% block content %}
<div id="content-main">

	<ul class="menu">
	
		<li><a href="#"><img src="{{ MEDIA_URL }}images/blue/folder.png"> Ingreso de datos</a>
   			<ul class="subitems">
   				{% if perms.obras.change_obra %}<li><a href="{% url admin:obras_obra_changelist %}"><img src="{{ MEDIA_URL }}images/blue/construction.png">Alta nuevo proyecto</a></li>{% endif %}
            	{% if perms.obras.change_presupuestotsya %}<li><a href="{% url admin:obras_presupuestotsya_changelist %}"><img src="{{ MEDIA_URL }}images/blue/archive.png"> Presupuestos honorarios TSYA</a></li>{% endif %}
            	{% if perms.obras.change_honorario %}<li><a href="{% url admin:obras_honorario_changelist %}"><img src="{{ MEDIA_URL }}images/blue/Pesos.png"> Facturación honorarios TSYA</a></li>{% endif %}
            	{% if perms.obras.change_cliente %}<li><a href="{% url admin:obras_cliente_changelist %}"><img src="{{ MEDIA_URL }}images/blue/user.png"> Maestro de clientes</a></li>{% endif %}
            	{% if perms.obras.reporte_facturas_honorarios or perms.obras.reportes %}<li><a href="{% url facturas_honorarios %}"><img src="{{ MEDIA_URL }}images/blue/chart-bar-up.png">Reporte Facturas Honorarios TSYA</a></li>{% endif %}
            	{% if perms.obras.reporte_ccanalitico or perms.obras.reportes %}<li><a href="{% url ccanalitico %}"><img src="{{ MEDIA_URL }}images/blue/chart-bar-up.png">Reporte Honorarios Cuenta Corriente Analítico</a></li>{% endif %}
            	{% if perms.obras.reporte_obras_estado or perms.obras.reportes %}<li><a href="{% url obrasestado %}"><img src="{{ MEDIA_URL }}images/blue/chart-bar-up.png">Reporte Obras por estado</a></li>{% endif %}
   			</ul>
   		</li>
	
	
		<li><a href="#"><img src="{{ MEDIA_URL }}images/blue/folder.png"> Configuración</a>
   			<ul class="subitems">
   				{% if perms.obras.change_estadoobra %}<li><a href="{% url admin:obras_estadoobra_changelist %}"><img src="{{ MEDIA_URL }}images/blue/information.png"> Estado de Obras</a></li>{% endif %}
	            {% if perms.obras.change_concepto %}<li><a href="{% url admin:obras_concepto_changelist %}"><img src="{{ MEDIA_URL }}images/blue/exclamation-diamond.png"> Conceptos (plan de cuentas)</a></li>{% endif %}
	            {% if perms.obras.change_categoria %}<li><a href="{% url admin:obras_categoria_changelist %}"><img src="{{ MEDIA_URL }}images/blue/exclamation.png"> Categorías (del concepto)</a></li>{% endif %}
	            {% if perms.obras.change_tipocomprobante %}<li><a href="{% url admin:obras_tipocomprobante_changelist %}"><img src="{{ MEDIA_URL }}images/blue/clipboard.png"> Tipos de Comprobantes</a></li>{% endif %}
	            {% if perms.obras.change_pais %}<li><a href="{% url admin:obras_pais_changelist %}"><img src="{{ MEDIA_URL }}images/blue/Paises.jpg"> Países</a></li>{% endif %}
	            {% if perms.obras.change_provincia %}<li><a href="{% url admin:obras_provincia_changelist %}"><img src="{{ MEDIA_URL }}images/blue/Provincias.jpg"> Provincias</a></li>{% endif %}
	            {% if perms.auth.change_user %}<li><a href="{% url admin:auth_user_changelist %}"><img src="{{ MEDIA_URL }}images/blue/wrench.png"> Usuarios</a></li>{% endif %}
	            {% if perms.auth.change_group %}<li><a href="{% url admin:auth_group_changelist %}"><img src="{{ MEDIA_URL }}images/blue/gears.png"> Grupos</a></li>{% endif %}
   			</ul>
   		</li>
	
		<li><a href="#"><img src="{{ MEDIA_URL }}images/blue/folder.png"> Administración interna</a>
   			<ul class="subitems">
   				{% if perms.obras.change_gasto %}<li><a href="{% url admin:obras_gasto_changelist %}"><img src="{{ MEDIA_URL }}images/blue/documents.png"> Alta orden de pago interna</a></li>{% endif %}
   				{% if perms.obras.change_proveedor %}<li><a href="{% url admin:obras_proveedor_changelist %}"><img src="{{ MEDIA_URL }}images/blue/users.png"> Maestro de proveedores</a></li>{% endif %}
   				{% if perms.obras.reporte_gastos or perms.obras.reportes %}<li><a href="{% url gastosobra %}"><img src="{{ MEDIA_URL }}images/blue/chart-bar-up.png"> Reporte Gastos por proyecto</a></li>{% endif %}
   			</ul>
   		</li>
   		
   		<li><a href="#"><img src="{{ MEDIA_URL }}images/blue/folder.png"> Administración externa</a>
   			<ul class="subitems">
   				{% if perms.obras.change_presupuesto %}<li><a href="{% url admin:obras_presupuesto_changelist %}"><img src="{{ MEDIA_URL }}images/blue/archive.png"> Presupuestos Proveedores</a></li>{% endif %}
   				{% if perms.obras.change_pagoobra %}<li><a href="{% url admin:obras_pagoobra_changelist %}"><img src="{{ MEDIA_URL }}images/blue/bank.png"> Orden de pago proveedores</a></li>{% endif %}
   				{% if perms.obras.reporte_ccobra or perms.obras.reportes %}<li><a href="{% url pres_obra %}"><img src="{{ MEDIA_URL }}images/blue/chart-bar-up.png"> Reporte Cuenta corriente obras</a></li>{% endif %}
   			</ul>
   		</li>
   		
   		<!-- 
   		 -->
   		<li><a href="#"><img src="{{ MEDIA_URL }}images/blue/folder.png"> Reportes</a>
   			<ul class="subitems">
   				{% if perms.obras.reporte_adhoc or perms.obras.reportes %}<li><a href="{% url reporte_generico %}"><img src="{{ MEDIA_URL }}images/blue/chart-bar-up.png"> Reporte Ad Hoc</a></li>{% endif %}
   			</ul>
   		</li>
	</ul>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
