{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }} 

<link type="text/css" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.8.6.custom.css" rel="Stylesheet" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/combo_box.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/calendar_fix.js"></script>

<script>
    $(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
    
});
</script>

<script>
$(function() {	
	$( "#id_cliente" ).combobox().change(update_obras).trigger('change');
	$( "#id_obra" ).combobox();
	$( "#id_obra" ).change(get_info);
});

$(document).ready(function() {
	get_info();
});

function get_info() {
	var id_obra = $('#id_obra').val();
    $.ajax({
      type: 'POST',
      url: "{% url get_presupuestotsya_info %}",
      data: {'obra_id': id_obra},
      success: function(data, status) {
        $('#id_estado_obra').val(data.estado);
        setComboOption('#id_cliente', data.id_cliente, data.cliente);
      },
      dataType: "json"
    });
}

function update_obras(){
	var id_cliente = $('#id_cliente').val();

		$.ajax({
        type: 'GET',
        url: "{% url filter_obras %}",
        data: {'id_cliente': id_cliente},
        success: function(data, status) {
        	$('#id_obra').find('option').remove();
        	for (var i=0; i < data.values.length; i++){
        		$('#id_obra').append('<option value="' + data.values[i] 
                		+ '">' + data.names[i] + '</option>');
        	}
        },
        dataType: "json"
      });
}

</script>

{% endblock %}
