{% extends "admin/change_list.html" %}

{% load adminmedia admin_list i18n %}

{% block object-tools-items %}
    <li>
    	<a href="{% url plan_cuentas %}">
        	{% blocktrans with cl.opts.verbose_name as name %}Imprimir Plan de cuentas{% endblocktrans %}
		</a>
    </li>
	{{ block.super }}
{% endblock %}

{% block title %}Concepto (plan de cuentas) | Gestión de Proyectos{% endblock %}
{% block content_title %}<h1>Concepto (plan de cuentas)</h1>{% endblock %}