{% extends 'reports/base_report.html' %}

{% load obras_tags %}

{% block file_title %}TSYA - Honorarios{% endblock %}

{% block page_title %}Reporte Honorarios <br/>Cuenta corriente analítico {% endblock %}

{% block extrastyle %}
	
	
	#report{
    	padding: 2px 2px 2px 2px;
        font-size: 12px;
        text-align: left;        
    }
    
    #report table {
    	border: 0;
    	font-size: 11px;
    	text-align: left;
    	
    }
    
    #report th{
    	font-weight: bold;
    	border-top: 0.5px solid;
    	border-bottom: 0.5px solid;
    }
	
	#mid {
        text-align: left;
        
    }
    
    #mid td, #mid p{
        font-size:13px;
    }
    
    
{% endblock %}


{% block report_content %}
<h2 style="-pdf-keep-with-next:false;">Honorarios del {{ desde|date:"SHORT_DATE_FORMAT" }} al {{ hasta|date:"SHORT_DATE_FORMAT" }}</h2>
<br/>
<hr/>
<br/>
{% for item in items %}
<h2>Resumen:</h2>
<table>
<tr><td>Contratado:</td><td>{{ item.pres.importe_contratado }}</td><td>{{ item.pres.importe_contratado|percentage:item.pres.importe_contratado }}</td><td>Proyectado:</td><td>{{ item.pres.importe_proyectado }}</td></tr>
<tr><td>Cobrado:</td><td>{{ item.obra.total_aplicaciones }}</td><td>{{ item.obra.total_aplicaciones|percentage:item.pres.importe_contratado }}</td><td colspan=2></td></tr>
<tr><td>A cobrar:</td><td>{{ item.total }}</td><td>{{ item.total|percentage:item.pres.importe_contratado }}</td><td colspan=2></td></tr>
</table>

<hr/>
<p>{{ item.obra.id }} - {{ item.obra.nombre }} - {{ item.obra.cliente.nombre }}</p>

<table cellspacing="0" id="content">
    <tr>
        <th>Comprobante</th>
        <th>Emisión</th>
        <th>Tipo y N°</th>
        <th>Compr.</th>
        <th>Detalle</th>
        <th>Contratado</th>
        <th>Proyectado</th>
    </tr>
    
    {% for x in item.principal %}
        {% if forloop.first %}
        <tr>
            <td>Presupuesto</td>
            <td>{{ x.0.fecha_emision|date:"SHORT_DATE_FORMAT" }}</td>
            <td></td>
            <td></td>
            <td>{{ x.0.descripcion }}</td>
            <td>{{ x.1 }}</td>
            <td>{{ item.pres.importe_proyectado }}</td>
        </tr>
        {% else %}               
            
        {% comment %} pago honorarios == x {% endcomment %}    
            <tr>
                <td>Pago</td>
                <td>{{ x.0.fecha|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ x.0.tipo_factura }}</td>
                <td>{{ x.0.n_factura }}</td>
                <td>{{ x.0.descripcion }}</td>
                <td>{{ x.1 }}</td>
                <td></td>
            </tr>
        {% endif %}
    {% endfor %}
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><b>{{ item.total }}</b></td>
    <td><b>{{ item.pres.importe_proyectado }}</b></td>
    </tr>
</table>
<hr/>
<br/>
<br/>
{% endfor %}
{% endblock%}