<html>
<head>
<title>TSYA - Orden de pago</title>
<style>
body {
	font-size: 13px;
}

#p_header_der, #s_header_der {
	font-size: 11px;
}

@page {
  @frame p_h_i {
    -pdf-frame-content: p_header_izq;
    left: 0.9cm;
	top: 2.5cm;
	width: 7cm;
	height: 2cm;	
  }
  
  @frame p_h_d {
    -pdf-frame-content: p_header_der;
    left: 12cm;
	top: 1.9cm;
	width: 7cm;
	height: 2cm;
  }
  
  @frame p_p {
    -pdf-frame-content: p_pago;
    left: 0.8cm;
	top: 5.5cm;
  }
  
  @frame p_t {
    -pdf-frame-content: p_total;
    left: 13cm;
	top: 8.7cm;
  }
  
  @frame p_f {
    -pdf-frame-content: p_fecha;
    left: 12cm;
	top: 12.3cm;
  }
  
  @frame s_h_i {
    -pdf-frame-content: s_header_izq;
    left: 0.9cm;
	top: 18cm;
	width: 7cm;
	height: 2cm;	
  }
  
  @frame s_h_d {
    -pdf-frame-content: s_header_der;
    left: 12cm;
	top: 17.9cm;
	width: 7cm;
	height: 2cm;
  }
  
  @frame s_p {
    -pdf-frame-content: s_pago;
    left: 1cm;
	top: 21.5cm;
  }
  
  @frame s_t {
    -pdf-frame-content: s_total;
    left: 13cm;
	top: 24.5cm;
  }
  
  @frame s_f {
    -pdf-frame-content: s_fecha;
    left: 12cm;
	top: 28.3cm;
  }
  
}

#p_pago, #p_total, #p_fecha, 
#s_pago, #s_total, #s_fecha {
	font-size: 10px;
}
    
</style>
</head>
<body>
	<div id="primera">
		<div id="p_header_izq">SR.(ES) {{ pago.presupuesto.obra.cliente.nombre }}<br/>{{ pago.presupuesto.obra.cliente.domicilio }}</div>
		<div id="p_header_der">{{ pago.id }}<br/>{{ pago.presupuesto.obra.id }} - {{ pago.presupuesto.obra.nombre }}<br/>{{ pago.presupuesto.proveedor.nombre}}<br/>{{ pago.presupuesto.num_pres_ext }}</div>
		<div id="p_pago">
			<table><tr><td style="width: 1.5cm;">{{ pago.fecha_emision|date:"SHORT_DATE_FORMAT" }}</td><td style="width: 1.9cm; text-align: right; margin-right: 0.6cm;">{{ pago.n_factura }}</td><td style="width: 7.4cm;">{{ pago.descripcion }}</td><td style="width: 3.1cm; text-align: right; margin-right: 10px;">{{ pago.imp_neto }}</td><td style="width: 3.3cm; text-align: right; margin-right: 10px;">{{ pago.get_importe_a_cobrar }}</td></tr></table>
		</div>
		<div id="p_total">{{ pago.get_importe_a_cobrar }}</div>
		<div id="p_fecha">{{ pago.fecha|date:"SHORT_DATE_FORMAT" }}</div>
	</div>
	
	<div id="segunda">
		<div id="s_header_izq">SR.(ES) {{ pago.presupuesto.obra.cliente.nombre }}<br/>{{ pago.presupuesto.obra.cliente.domicilio }}</div>
		<div id="s_header_der">{{ pago.id }}<br/>{{ pago.presupuesto.obra.id }} - {{ pago.presupuesto.obra.nombre }}<br/>{{ pago.presupuesto.proveedor.nombre}}<br/>{{ pago.presupuesto.num_pres_ext }}</div>
		<div id="s_pago">
			<table><tr><td style="width: 1.5cm;">{{ pago.fecha_emision|date:"SHORT_DATE_FORMAT" }}</td><td style="width: 1.9cm; text-align: right; margin-right: 0.6cm;">{{ pago.n_factura }}</td><td style="width: 7.4cm;">{{ pago.descripcion }}</td><td style="width: 3.1cm; text-align: right; margin-right: 10px;">{{ pago.imp_neto }}</td><td style="width: 3.3cm; text-align: right; margin-right: 10px;">{{ pago.get_importe_a_cobrar }}</td></tr></table>
		</div>
		<div id="s_total">{{ pago.get_importe_a_cobrar }}</div>
		<div id="s_fecha">{{ pago.fecha|date:"SHORT_DATE_FORMAT" }}</div>
	</div>
</body>
</html>