{% extends 'reports/base_report.html' %}

{% block file_title %}TSYA - Facturación{% endblock %}

{% block page_title %}Certificado de facturación{% endblock %}

{% block extrastyle %}
	
	
	#report{
    	padding: 2px 2px 2px 2px;
        font-size: 12px;
        text-align: left;        
    }
    
    #report table {
    	border: 0;
    	font-size: 11px;
    	text-align: left;
    	
    }
    
    #report th{
    	font-weight: bold;
    }
	
	#mid {
        text-align: left;
        border-bottom: 1px solid;
    }
    
    #mid td, #mid p{
        font-size:13px;
    }
    
    
{% endblock %}

{% block report_header %}
<table>
<tr><td><h1>{{ honorario.tipo_factura.descripcion }}</h1></td><td></td><td style="text-align: right;"><h1>N°:{{ honorario.n_factura }}</h1></td></tr>
<tr><td>Fecha factura:</td><td colspan=2> {{ honorario.fecha|date:"SHORT_DATE_FORMAT" }}</td></tr>
<tr><td>Obra:</td><td colspan=2> {{ honorario.obra }}</td></tr>
<tr><td>Descripción:</td><td colspan=2> {{ honorario.descripcion }}</td></tr>
<tr><td>Importe neto:</td><td colspan=2> {{ honorario.get_moneda_display }} ${{ honorario.imp_neto }}</td></tr>
<tr><td>Importe a cobrar:</td><td colspan=2> {{ honorario.get_moneda_display }} ${{ honorario.imp_a_cobrar }}</td></tr>
</table>

{% endblock %}


{% block colspan1 %}6{% endblock %}
{% block colspan2 %}6{% endblock %}

{% block report_content %}
<hr/>
<h2>Datos del presupuesto</h2>
<table>
<tr><td>Fecha de emisión:</td><td colspan=2> {{ presupuesto.fecha_emision|date:"SHORT_DATE_FORMAT" }}</td></tr>
<tr><td>Obra:</td><td colspan=2> {{ presupuesto.obra }}</td></tr>
<tr><td>Estado de obra:</td><td colspan=2> {{ presupuesto.obra.estado_obra.descripcion }}</td></tr>
<tr><td>Monto proyectado:</td><td colspan=2>${{ presupuesto.importe_proyectado }}</td></tr>
<tr><td>Descripción:</td><td colspan=2>{{  presupuesto.descripcion }}</td></tr>
<tr><td>Observaciones:</td><td colspan=2>{{  presupuesto.observaciones }}</td></tr>
</table>


{% endblock%}