{% extends 'reports/base_report.html' %}

{% load obras_tags %}

{% block file_title %}TSYA - Presupuestos{% endblock %}

{% block page_title %}Reporte Facturas<br/> Honorarios TSYA {% endblock %}

{% block extrastyle %}
	
	
	#report{
    	padding: 2px 2px 2px 2px;
        font-size: 12px;
        text-align: left;        
    }
    
    #report table {
    	border: 0;
    	font-size: 11px;
    	text-align: left;
    	
    }
    
    #report th{
    	font-weight: bold;
    	border-top: 0.5px solid;
    	border-bottom: 0.5px solid;
    }
	
	#mid {
        text-align: left;
        
    }
    
    #mid td, #mid p{
        font-size:13px;
    }
    
    
{% endblock %}


{% block colspan1 %}7{% endblock %}
{% block colspan2 %}7{% endblock %}

{% block report_content %}
<h2 style="-pdf-keep-with-next:false;">Facturas del {{ desde|date:"SHORT_DATE_FORMAT" }} al {{ hasta|date:"SHORT_DATE_FORMAT" }}</h2>
<p><b>
{% if estado %}Estado: {{ estado }}. {% endif %}
{% if pais %}Pais: {{ pais }}. {% endif %}
{% if cliente %}Cliente: {{ cliente }}. {% endif %}</b>
</p>

<table cellspacing="0" id="content">
    <thead>
    <tr>
        <th>ID</th>
        <th>Obra</th>
        <th>Tipo de compr.</th>
        <th>Número</th>
        <th>Fecha</th>
        <th>Importe neto</th>
        <th>Importe a cobrar</th>
    </tr>
    </thead>

	{% for obra in items %}
    <tr>
    	<td style="width: 50px;">{{ obra.0.id }}</td>
     	<td style="width: 200px;">{{ obra.0.nombre }}</td>
     	<td colspan=5></td>
    </tr>
     
    {% for honorario in obra.1 %}
    	<tr>
     		<td colspan=2></td>
     		<td>{{ honorario.tipo_factura }}</td>
     		<td>{{ honorario.n_factura }}</td>
     		<td>{{ honorario.fecha|date:"SHORT_DATE_FORMAT" }}</td>
     		<td style="text-align: right;">${{ honorario.imp_neto }}</td>
     		<td style="text-align: right;">${{ honorario.imp_a_cobrar }}</td>
     	</tr>     	
	{% endfor %}
    <tr><td colspan=7></td></tr>
	<tr style="font-weight:bold; text-align: right;"><td colspan=4></td><td>Total obra:</td><td>${{ obra.2 }}</td><td>${{ obra.3 }}</td></tr>
    {% endfor %}
	<tr style="font-weight:bold; text-align: right;"><td colspan=4></td><td>Total general:</td><td>${{ total_neto }}</td><td>${{ total_a_cobrar }}</td></tr>

</table>

{% endblock%}