{% for categoria in items %}
	<div class="categoria">{{ categoria.0 }} ${{ categoria.2 }}</div>
	{% for superconcepto in categoria.1 %}
	    <div class="superconcepto">{{ superconcepto.0 }} ${{ superconcepto.2 }}</div>
		{% for subconcepto in superconcepto.1 %}
			<div class="subconcepto">{{ subconcepto.0 }} ${{ subconcepto.2 }}</div>
				<table class="gastos">
					<thead>
                        <tr>
                            <th>Fecha</th>
                            <th >Nro. Orden</th>
                            <th >Comp. externo</th>
                            <th>Proveedor</th>
                            <th>Importe no gravado</th>
                        </tr>
					</thead>
					<tbody>
					{% for gasto in subconcepto.1 %}
					<tr>
					    <td style="width=80px;">{{ gasto.gasto.fecha_op|date:"SHORT_DATE_FORMAT" }}</td>
						<td style="width=100px;">{{ gasto.gasto.id }}</td>
						<td style="width=100px;">{{ gasto.gasto.numero }}</td>
						<td style="width=250px;">{{ gasto.gasto.proveedor }}</td>
						<td style="width=150px;">${{ gasto.imp_neto }}</td>
					</tr>						
					{% endfor %}	
					</tbody>					
				</table>
                <pdf:spacer height="0.5cm" />

		{% endfor %} {# /Subconceptos #}
    {% endfor %}  {# /Superconceptos #}
{% endfor %} {# /Categorias #}
