{% extends 'reports/base_report.html' %}
{% load obras_tags %}

{% block file_title %}TSYA - Gastos por proyecto{% endblock %}

{% block page_title %}Reporte Gastos por obra{% endblock %}

{% block page_styles %}
     background-image: url('{{ MEDIA_URL }}images/report-bg.jpg');
{% endblock %}

{% block extrastyle %}
	#mid {
        text-align: left;
        border-bottom: 1px solid;
    }
	
	
	#report{
    	padding: 2px 2px 2px 2px;
        font-size: 12px;
        text-align: left;
    }
    
    #report table {
    	border: 0 solid;
    	text-align: left;
    }
    
    #report th{
    	font-weight: bold;
    }
    
    .categoria {
    	font-weight: bold;
    	font-size:11pt;
    }
    
    .superconcepto {
    	font-size:10.5pt;
    }
    
    .subconcepto {
    	font-size:9pt;
    }

    .gastos td {
        text-align: center;
        vertical-align: middle;

	}
	
	.gastos thead tr{
		border-bottom: 0.5px solid black;
        border-top: 0.5px solid black;
        vertical-align: bottom;
        font-style: italic;
    }

    .obra{
        font-size: 11.5pt;
        font-weight: bold;
        text-align: left;
    }

    .obra span{
        text-align: right;
    }

{% endblock %}


{% block colspan1 %}5{% endblock %}
{% block colspan2 %}5{% endblock %}

{% block report_content %}

<h2>Comprobantes del {{ desde|date:"SHORT_DATE_FORMAT" }} al {{ hasta|date:"SHORT_DATE_FORMAT" }}</h2>
<h3>
{% if proveedor %}Proveedor: {{ proveedor }}. {% endif %}
{% if pais %}Pais: {{ pais }}. {% endif %}
{% if cliente %}Cliente: {{ cliente }}. {% endif %}
{% if estado %}Estado: {{ estado }}. {% endif %}
{% if concepto %}Concepto: {{ concepto }}. {% endif %}
</h3>
<h2>Total general: ${{ total_general }}</h2>
<pdf:spacer height="0.3cm" />

{% for obra in obras %}

    <table class="obra">
        <tr>
            <td colspan="4">Obra: {{ obra.0 }}</td>
            <td style="text-align:right;"><span>{{ obra.1 }}</span></td>
        </tr>
    </table>

    {% gastos_x_obra obra.0 %}

    {% endfor %} {# /obras #}

{% endblock %}
