{% extends 'reports/base_report.html' %}

{% block file_title %}TSYA - {{ reporte.titulo }}{% endblock %}

{% block page_title %}{{ reporte.titulo }}{% endblock %}

{% block extrastyle %}
	
	
	#report{
    	padding: 2px 2px 2px 2px;
        font-size: 12px;
        text-align: left;        
    }
    
    #report table {
    	border: 0;
    	font-size: 11px;
    	text-align: left;
    	
    }
    
    #report th{
    	font-weight: bold;
    	border-top: 0.5px solid;
    	border-bottom: 0.5px solid;
    }
	
	#mid {
        text-align: left;
        
    }
    
    #mid td, #mid p{
        font-size:13px;
    }
    
    
{% endblock %}


{% block colspan1 %}{{ reporte.columnas|length }}{% endblock %}
{% block colspan2 %}{{ reporte.columnas|length }}{% endblock %}

{% block report_content %}
<h2 style="-pdf-keep-with-next:false;">Desde el {{ reporte.fecha_desde|date:"SHORT_DATE_FORMAT" }} al {{ reporte.fecha_hasta|date:"SHORT_DATE_FORMAT" }}</h2>
<br/><br/>
<table>
	<thead>
		<tr>{{ reporte.as_table_header|safe }}</tr>
	</thead>
	<tbody>
	{% for item in reporte.items %}
		<tr>{{ item.as_table_row|safe }}</tr>
	{% endfor %}
	</tbody>
</table>


{% endblock%}