<table>
	<tr>
		<th>{{ form.desde.label }}:</th><td>{{ form.desde }}</td>
		<th>{{ form.hasta.label }}:</th><td>{{ form.hasta }}</td>
	</tr>
</table>
<table>
	<tr>
		<th>Campos:</th><td></td>
	</tr>
	
	{% for field in form.get_campos_fields %}
	<tr>
		<td></td><th>{{ field.label }}:</th><td>{{ field }}</td>
	</tr>
	{% endfor %}
</table>

<table>
	<tr>
		<th>Filtros:</th><td></td>
	</tr>
	{% for field in form.get_grupos_fields %}
	<tr id="grupo_{{ field.name }}" class="grupos">
		<td></td><th>{{ field.label }}:</th>
		<td>{{ field }}<br/><span class="helptext">{{ field.help_text }}</span></td>
	</tr>
	{% endfor %}

</table>

<table>
	<tr>
		<th>{{ form.agrupar.label }}:</th><td>{{ form.agrupar }}</td>
	</tr>
	<tr id="parciales" class="grupos">	
		<td></td><th>{{ form.totales_parciales.label }}:</th><td>{{ form.totales_parciales }}</td>
	</tr>
	
</table>

<table>	
	<tr>
	<th>{{ form.total_general.label }}:</th><td>{{ form.total_general }}</td>
	</tr>
	<tr>
		<th>{{ form.formato.label }}:</th><td>{{ form.formato }}</td>
	</tr>

</table>