{% extends "admin/base_site.html" %}

{% block content %}
    
    <form method="POST" action="">{% csrf_token %}
	    <table>
	    	{{ form.as_table }}
	    </table>
        <div id="form_container"></div>    
        <input id="boton_aceptar" type="submit" value="Submit">
    </form>
{% endblock %}


{% block extrahead %} 
<link rel="stylesheet" type="text/css" href="/admin_media/css/forms.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.js"></script>

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% load adminmedia %}{% admin_media_prefix %}js/core.js"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/calendar.js"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/admin/DateTimeShortcuts.js"></script>
    
<link type="text/css" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.8.6.custom.css" rel="Stylesheet" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/combo_box.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/calendar_fix.js"></script>

{{ block.super }}

<script type="text/javascript">
$(function() {	

	$('#id_elemento').change(function(){
		$.ajax({
		      type: 'GET',
		      url: "{% url get_form_generico %}",
		      data: {'elemento': $('#id_elemento').val()},
		      success: function(data, status) {
		        $('#form_container').html(data.form);
		        update_form_events();
		      },
		      dataType: "json"
		    });

		}).trigger('change');

});

function update_form_events() {

	DateTimeShortcuts.init();
	$('#id_obra').combobox();
	$('#id_proveedor').combobox();
	$('#id_cliente').combobox();
	//$('#id_gasto').combobox();
	$('#id_presupuesto').combobox();

	kill_today();
}
</script>

{% endblock %} 
