{% extends 'reports/base_report.html' %}

{% block file_title %}TSYA - Obras por estado{% endblock %}

{% block page_title %}Reporte Obras por estado{% endblock %}


{% block colspan1 %}2{% endblock %}
{% block colspan2 %}2{% endblock %}

{% block report_content %}
<h2 style="-pdf-keep-with-next:false;">Obras del {{ desde|date:"SHORT_DATE_FORMAT" }} al {{ hasta|date:"SHORT_DATE_FORMAT" }}.</h2>
<h3>
{% if pais %}Pais: {{ pais }}. {% endif %}
{% if cliente %}Cliente: {{ cliente }}. {% endif %}
</h3>

{% for item in items %}
<br/><br/>
<h2 style="-pdf-keep-with-next:false;">{{ item.obras|length }} Obras en estado: {{ item.estado }}
<br/>
<table>
	<thead>
		<tr><th style="width:100px;">ID</th><th>Obra</th></tr>
	</thead>
	<tbody>
	{% for obra in item.obras %}
		<tr><td>{{ obra.id }}</td><td>{{ obra.nombre }}</td></tr>
	{% endfor %}
	</tbody>
</table>
{% endfor %}


{% endblock%}