{% extends 'reports/base_report.html' %}

{% block file_title %}TSYA - Orden de pago{% endblock %}

{% block page_title %}Orden de pago interna <br/> {{ op.id }}{% endblock %}

{% block extrastyle %}
	
	
	#report{
    	padding: 2px 2px 2px 2px;
        font-size: 12px;
        text-align: left;        
    }
    
    #report table {
    	border: 0;
    	font-size: 11px;
    	text-align: left;
    	
    }
    
    #report th{
    	font-weight: bold;
    }
	
	#mid {
        text-align: left;
        border-bottom: 1px solid;
    }
    
    #mid td, #mid p{
        font-size:13px;
    }
    

    
{% endblock %}



{% block report_header %}
<table>
<tr><td style="width: 325px;"></td><td style="width: 125px;">Beneficiario:</td><td>{{ op.proveedor.nombre }}</td></tr>
<tr><td ></td><td>Fecha:</td><td> {{ op.fecha_op|date:"SHORT_DATE_FORMAT" }}</td></tr>
<tr><td ></td><td>Tipo y número:</td><td> {{ op.tipo }} {{ op.numero }}</td></tr>
<tr><td></td><td>Detalle breve:</td><td> {{ op.detalles }}</td></tr>
</table>

{% endblock %}


{% block colspan1 %}5{% endblock %}
{% block colspan2 %}5{% endblock %}
	

{% block report_content %}
<hr/>
<table>
    <tr>
        <th>Concepto</th>
        <th>Obra</th>
        <th>Neto no gravado</th>
        <th>Total incluido</th>
    </tr>
    
    {% for item in items %}
    <tr>
        <td style="width: 160px;">{{ item.concepto }}</td>
        <td style="width: 300px;">{{item.obra.id}} - {{ item.obra.nombre }}</td>
        <td>${{ item.imp_neto }}</td>
        <td>${{ item.get_importe_a_pagar }}</td>
    </tr>    
    {% endfor %}
        
</table>

<pdf:spacer height="2.5cm" />
<div id="resumen">
	<table>
<tr><td colspan=2></td><td>TOTAL A PAGAR: {{ op.get_moneda_display }} ${{ total }}</td></tr>
<tr><td colspan=2></td><td>AUTORIZADO POR:</td></tr>
<tr><td colspan=2></td><td>FECHA:</td></tr>
</table>
</div>


{% endblock%}