{% extends 'reports/base_report.html' %}

{% block file_title %}TSYA - Plan de cuentas{% endblock %}

{% block page_title %}Conceptos{% endblock %}


{% block colspan1 %}2{% endblock %}
{% block colspan2 %}2{% endblock %}

{% block report_content %}
<br/><br/>
<table>
	<thead>
		<tr><th style="width:100px;">Código</th><th>Descripción</th></tr>
	</thead>
	<tbody>
	{% for concepto in conceptos %}
		<tr><td>{{ concepto.codigo_completo }}</td><td>{{ concepto.descripcion }}</td></tr>
	{% endfor %}
	</tbody>
</table>


{% endblock%}