{% extends 'reports/base_report.html' %}

{% load obras_tags %}

{% block file_title %}TSYA - Presupuestos{% endblock %}

{% block page_title %}Reporte Cuenta corriente obra {% endblock %}

{% block page_styles %}
     background-image: url({{ MEDIA_URL }}images/report-bg.jpg);
{% endblock %}

{% block extrastyle %}
	
	
	#report{
    	padding: 2px 2px 2px 2px;
        font-size: 12px;
        text-align: left;        
    }
    
    #report table {
    	border: 0;
    	font-size: 11px;
    	text-align: left;
    	
    }
    
    #report th{
    	font-weight: bold;
    	border-top: 0.5px solid black;
        border-bottom: 0.5px solid black;
        vertical-align: middle;
    }
	
	#mid {
        text-align: left;
        
    }
    
    #mid td, #mid p{
        font-size:13px;
    }
    
{% endblock %}


{% block colspan1 %}9{% endblock %}
{% block colspan2 %}9{% endblock %}

{% block report_content %}
<h2 style="-pdf-keep-with-next:false;">Pagos del {{ desde|date:"SHORT_DATE_FORMAT" }} al {{ hasta|date:"SHORT_DATE_FORMAT" }}.</h2>
<h3>
{% if proveedor %}Proveedor: {{ proveedor }}. {% endif %}
{% if pais %}Pais: {{ pais }}. {% endif %}
{% if cliente %}Cliente: {{ cliente }}. {% endif %}
{% if estado %}Estado: {{ estado }}. {% endif %}
</h3>
<hr/>
<br/>

{% for item in items %}
<p>{{ item.obra.id }} - {{ item.obra.nombre }} - {{ item.obra.cliente.nombre }}</p>

<table cellspacing="0" id="content">
    <thead>
        <th>Comprobante</th>
        <th>Número</th>
        <th>Emisión</th>
        <th>Aplic.</th>
        <th>Proveedor</th>
        <th>Fecha</th>
        <th>Factura</th>
        <th>Total</th>
        <th>Saldo</th>
    </thead>

     {% for presupuesto in item.principal %}
        {% for x in presupuesto %}
            {% if forloop.first %}
            <tr>
                <td><b>Presupuesto</b></td>
                <td>{{ x.0.id }}</td>
                <td>{{ x.0.fecha_emision|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{% if x.0.num_pres_ext %}{{ x.0.num_pres_ext }}{% endif %}</td>
                <td>{{ x.0.proveedor.id }} {{ x.0.proveedor.nombre }}</td>
                <td></td>
                <td></td>
                <td>{{ x.1 }}</td>
                <td>{{ x.2 }}</td>
            </tr>
            {% else %}               
                
	            {% if forloop.last %}
	            <tr>
		        	<td></td>
		            <td></td>
		            <td></td>
		            <td></td>
		            <td colspan=3 style="font-weight: bold; text-align: center;">Saldo parcial:</td>
		            <td style="font-weight: bold;">{{ x.1 }}</td>
		            <td></td>
	            </tr>
	            {% else %}    
	            <tr>
	                <td>Pago</td>
	                <td>{{ x.0.id }}</td>
	                <td>{{ x.0.fecha|date:"SHORT_DATE_FORMAT" }}</td>
	                <td>{% if x.0.descripcion %}{{ item.pagoobra.descripcion }}{% endif %}</td>
	                <td>{{ x.0.presupuesto.proveedor.id }} {{ item.pagoobra.presupuesto.proveedor.nombre }}</td>
	                <td>{{ x.0.fecha_emision|date:"SHORT_DATE_FORMAT" }}</td>
	                <td>{{ x.0.n_factura }}</td>
	                <td>-{{ x.1 }}</td>
	                <td>{{ x.2 }}</td>
	            </tr>
	            {% endif %}
            {% endif %}
        {% endfor %}
            <tr><td colspan=9></td></tr>
    {% endfor %}


</table>

<pdf:spacer height="5cm" />
<div id="resumen">
	<table style="font-weight: bold;">
<tr><td colspan=3></td><td style="border-left:2px solid black;border-top:2px solid black;">Total presupuestado:</td><td style="border-right:2px solid black;border-top:2px solid black;text-align: right;">{{ item.total_presupuestado }}</td></tr>
<tr><td colspan=3></td><td style="border-left:2px solid black;">Total pagado:</td><td style="border-right:2px solid black;text-align: right;">{{ item.total_pagado }}</td></tr>
<tr><td colspan=3></td><td style="border-left:2px solid black;border-bottom:2px solid black;">Saldo:</td><td
        style="border-right:2px solid black;border-bottom:2px solid black;text-align: right;">{{ item.saldo }}</td></tr>
</table>
</div>
<hr/>
<br/>
<br/>
{% endfor %}

{% endblock%}
