{% extends 'reports/base_report.html' %}

{% block file_title %}TSYA - Presupuesto{% endblock %}

{% block page_title %}Presupuesto{% endblock %}

{% block page_styles %}
     background-image: url('{{ MEDIA_URL }}images/report-bg.jpg');
{% endblock %}

{% block extrastyle %}
	
	
	#report{
    	padding: 2px 2px 2px 2px;
        font-size: 12px;
        text-align: left;        
    }
    
    #report table {
    	border: 0;
    	font-size: 11px;
    	text-align: left;
    	
    }

    #header h1{
        padding-top: 60px;
    }


    table#confeccionado{
        margin: 0;
        margin-top: -35px;
        font-size: 12px;
        font-weight: normal;
        text-align: left;
    }

    table#confeccionado tr{
        font-weight: normal !important;
        border: 0 none;
    }

    table#confeccionado td{
        padding-left: 40px;
        text-align: left;
    }

    table#confeccionado td#user{
        text-align: right;
    }    
    
    #report table.top_table{
        font-size: 12px;
        font-weight: bold;
    }
    
    #report th{
    	font-weight: bold;
    }
	
	#mid {
        text-align: left;
        border-bottom: 1px solid;
    }
    
    #mid td, #mid p{
        font-size:13px;
    }
    
    
{% endblock %}

{% block page_header_extra %}
<table id="confeccionado">
    <tr>
        <td>Confeccionó:</td>
        <td id="user">{{ user.username }}</td>
    </tr>
</table>
{% endblock %}

{% block report_header %}
<table class="top_table">
<tr><td>Fecha de emisión:</td><td colspan=2> {{ presupuesto.fecha_emision|date:"SHORT_DATE_FORMAT" }}</td><td rowspan=2 style="text-align: right;"><h1>N°: {{ presupuesto.id }}</h1></td></tr>
<tr><td>Proveedor:</td><td> {{ presupuesto.proveedor.nombre }} </td></tr>
<tr><td>Nro. Externo:</td><td colspan=2> {{ presupuesto.num_pres_ext }}</td></tr>
<tr><td>Obra:</td><td colspan=2> {{ presupuesto.obra }}</td></tr>
</table>

{% endblock %}


{% block colspan1 %}6{% endblock %}
{% block colspan2 %}6{% endblock %}

{% block report_content %}
<table>
<tr><td>Descripción:</td><td colspan=2>{{  presupuesto.descripcion }}</td></tr>
<tr><td>Importe contratado neto sin impuestos:</td><td colspan=2> {{ presupuesto.get_moneda_display }} ${{ presupuesto.importe_contratado }}</td></tr>
<tr><td>Estado de obra:</td><td colspan=2> {{ presupuesto.obra.estado_obra.descripcion }}</td></tr>
<tr><td>Observaciones:</td><td colspan=2>{{  presupuesto.observaciones }}</td></tr>
</table>


{% endblock%}
