{% extends "admin/base_site.html" %}

{% block title %}Reportes {{ block.super }}{% endblock %}
{% block extrahead %} 

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.js"></script>
<link rel="stylesheet" type="text/css" href="/admin_media/css/forms.css" />

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% load adminmedia %}{% admin_media_prefix %}js/core.js"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/calendar.js"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/admin/DateTimeShortcuts.js"></script>
    
<link type="text/css" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.8.6.custom.css" rel="Stylesheet" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/combo_box.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/calendar_fix.js"></script>
 
{{ block.super }}

<script type="text/javascript">
$(function() {	
    $( "#id_obra" ).combobox();
    $( "#id_cliente" ).combobox();
    $("#id_proveedor").combobox();

	
	$('#id_categoria').change(function(){control_cuenta(this);});
	$('#id_categoria').each(function(){control_cuenta(this);});
	
});

function control_cuenta(elemento) {

	var selector = '#id_concepto';

	if (! $(elemento).val() ){
		$(selector).val('');
		$(selector).attr('disabled', true);

	} else {
		$(selector).attr('disabled', false);
		$.ajax({
            url: "{% url get_conceptos %}",
            data: {'id_categoria': $(elemento).val()},
            success: function(data, status) {
				var previous = $(selector).val(); 
				
            	$(selector).find('option').remove();
            	$(selector).append('<option value="">---------</option>');

            	for (var i=0; i < data.values.length; i++){
            		$(selector).append('<option value="' + data.values[i] 
                    		+ '">' + data.names[i] + '</option>');
            	}

				//para que reelija cuando filtra al principio
            	$(selector).val(previous);
                
            },
            dataType: "json"
          });
	}

}
</script>

{% endblock %}


{% block content %}
    <form method="POST" action="">{% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
        <input id="boton_aceptar" type="submit" value="Submit">
    </form>
{% endblock %} 
