{% extends "admin/change_form.html" %}

{% block extrahead %} {{ block.super }}

<link type="text/css" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.8.6.custom.css" rel="Stylesheet" />

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/combo_box.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}js/ajax_fix.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/calendar_fix.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/factura_field.js"></script>
    
<script>
$(function() {	
	
	init_factura_field('id_n_factura');
	
	
	$( "#id_obra" ).combobox();
	$( "#id_obra" ).change(get_info);

	$('#id_imp_neto').change(update_importe);
});

$(document).ready(function() {
    
	get_info();
	
  	//boton imprimir
	$('.submit-row').append('<input id="factura" type="button" class="default" value="Imprimir certificado"/>');
	{% if  original.id %}
		$('#factura').click(function(){location.href='{% url factura original.id%}';});
	{% else %}
		$('#factura').attr("disabled", true);
	{% endif %}
});

function get_info(){
	var id_obra = $('#id_obra').val();
	
    $.ajax({
      type: 'POST',
      url: "{% url get_obrahon_info %}",
      data: {'obra_id': id_obra},
      success: function(data, status) {
          $('#id_descripcion_pres').val(data.desc_pres);
          $('#id_estado_de_obra').val(data.estado_obra);
          $('#id_importe_contratado').val(data.imp_cont);
          $('#id_total_aplicaciones').val(data.tot_ap);
          $('#id_saldo').val(data.saldo);
          $('#id_importe_proyectado').val(data.imp_proy);            
      },
      dataType: "json"
    }); 
}

function update_importe() {

	var importe = $('#id_imp_neto').val();
	var id_factura = $('#id_tipo_factura').val();
	
	$.ajax({
	      type: 'POST',
	      url: "{% url get_importe_a_cobrar %}",
	      data: {'importe': importe, 'id_factura' : id_factura},
	      success: function(data, status) {
	          $('#id_imp_a_cobrar').val(data.importe);	                      
	      },
	      dataType: "json"
	    });
	
}

</script>
   

{% endblock %}

