{% extends "admin/change_form.html" %}

{% block extrahead %} {{ block.super }} 

<link type="text/css" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.8.6.custom.css" rel="Stylesheet" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/combo_box.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/calendar_fix.js"></script>

<script>
	

    $(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
    
});
</script>

<script>
$(function() {	
	$( "#id_proveedor" ).combobox();
	$( "#id_proveedor" ).change(get_info);

	$( "#id_obra" ).combobox();
	$( "#id_obra" ).change(get_info);
});

$(document).ready(function() {
	get_info();
	
	//boton imprimir
	$('.submit-row').append('<input id="impresion" type="button" class="default" value="Imprimir presupuesto"/>');
	{% if  original.id %}
		$('#impresion').click(function(){location.href='{% url presimp original.id%}';});
	{% else %}
		$('#impresion').attr("disabled", true);
	{% endif %}
	
  });

function get_info() {
	
	var id_obra = $('#id_obra').val();
	var id_prov = $('#id_proveedor').val();
	var id_pres = $('#id_id').val();
      $.ajax({
        type: 'POST',
        url: "{% url get_presupuesto_info %}",
        data: {'obra_id': id_obra, 'prov_id': id_prov, 'pres_id' : id_pres},
        success: function(data, status) {
        	$('#id_cantidad_de_presupuestos').val(data.cant_pres);
          	$('#id_total_presupuesto_asignado').val(data.total_asignado);
          	$('#id_total_de_aplicaciones').val(data.aplicaciones);
          	$('#id_saldo_presupuesto_disponible').val(data.saldo);
        },
        dataType: "json"
      });
}

</script>

{% endblock %}
