{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<a href="/admin/"> 
        Inicio
      </a> 
       &rsaquo;
       <a href="/admin/obras/"> 
         Obras
      </a> 
      > Reportes
{% endblock %}

{% block content %}
<h3>Seleccione un tipo de reporte:</h3>
<br />
<ul>
    <li><a href="{% url pres_obra %}">Presupuestos-Obras</a></li>
    <li><a href="{% url ccanalitico %}">Cta.Cte. Analítico</a></li>
    <li><a href="{% url orden_pago %}">Orden de pago interna</a></li>
</ul>
{% endblock %} 
