{% extends "admin/change_form.html" %}

{% block extrahead %} {{ block.super }} 

<link type="text/css" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.8.6.custom.css" rel="Stylesheet" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/combo_box.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/calendar_fix.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/factura_field.js"></script>

<script>
$(function() {

	init_factura_field('id_numero');

	//para que funcionen las acciones en elementos extra
	$('.add-row').find("a").click(inicializar_rows);
	
	$( "#id_proveedor" ).combobox();

	//parche para mostrar en una linea el td del inline
/* 	$('.obra').each(function(){
		$(this).html('<div class="cont" style="width:290px;">' + $(this).html() + '</div>');
		});
 */
	//$('select[id$="-obra"]').not('#id_detallegasto_set-__prefix__-obra').combobox();

    $('input[id$="-obra"]').filter( $('input[id^=id_detallegasto_set-]')).each(function(){sacar_puntos(this);});
 
	$('select[id$="-categoria"]').change(function(){control_cuenta(this);});
	
	//actualizacion aplicaciones
	$('#id_imp_neto').change(update_aplicaciones);
	$('input[id$="-imp_neto"]').change(update_aplicaciones);
	update_aplicaciones();
	
	//Reemplaza el comportamiento default al cerrar el calendar
	DateTimeShortcuts.dismissCalendar = handle_calendar;
	$('#id_fecha_op').change(function(){do_handle_calendar(this)});

	//boton imprimir
	$('.submit-row').append('<input id="ordenpago" type="button" class="default" value="Imprimir Orden de Pago"/>');
	{% if  original.id and original.esta_asignado %}
		$('#ordenpago').click(function(){location.href='{% url orden_pago original.id%}';});
	{% else %}
		$('#ordenpago').attr("disabled", true); 
	{% endif %}
	
});


function handle_calendar(num){
	document.getElementById(DateTimeShortcuts.calendarDivName1+num).style.display = 'none';
    window.document.onclick = null;
    
	do_handle_calendar(num)
   
}

function do_handle_calendar(num){    
    var date_parts = $('#id_fecha_op').val().split('/');
    var day = date_parts[0];
    var month = date_parts[1] - 1;
    var year = date_parts[2];
    
    var selected_date = new Date();
    selected_date.setFullYear(year, month, day);
    
    today = new Date()
    today.setMonth(today.getMonth() - 1)
    
    if (selected_date < today) {
    	if($('#date_alert').length == 0) {
    		$('#id_fecha_op').parent().append(
    				$('<span id="date_alert" style="color:red;">La fecha es anterior a la actual</span>'));
    	}
    } else {
    	$('#date_alert').remove();
    }
   
}

function sacar_puntos(elemento) {
	valor = elemento.value;
	valor = valor.replace(/\./g, '');
	elemento.value = valor;
}

function inicializar_rows() {
	$('select[id$="-concepto"]').each(function() {init_cuenta(this);});
	$('select[id$="-categoria"]').change(function(){control_cuenta(this);});
	$('input[id$="-imp_neto"]').change(update_aplicaciones);
	$('select[id$="-obra"]').not('#id_detallegasto_set-__prefix__-obra').combobox();
}

function control_cuenta(elemento) {

	var num = $(elemento).attr('id').split('-')[1];
	var selector = 'select[id$="-' + num +  '-concepto"]';

	if (! $(elemento).val() ){
		$(selector).val('');
		$(selector).attr('disabled', true);

	} else {
		$(selector).attr('disabled', false);
		$.ajax({
            url: "{% url get_conceptos %}",
            data: {'id_categoria': $(elemento).val()},
            success: function(data, status) {
				var previous = $(selector).val(); 
				
            	$(selector).find('option').remove();
            	$(selector).append('<option value="">---------</option>');

            	for (var i=0; i < data.values.length; i++){
            		$(selector).append('<option value="' + data.values[i] 
                    		+ '">' + data.names[i] + '</option>');
            	}

				//para que reelija cuando filtra al principio
            	$(selector).val(previous);
                
            },
            dataType: "json"
          });
	}

}

function init_cuenta(elemento) {

	var num = $(elemento).attr('id').split('-')[1];
	var selector = 'select[id$="-' + num +  '-categoria"]';

	var current_value = $(elemento).val();
	if( current_value ) {
			
		$.ajax({
            url: "{% url get_categoria %}",
            data: {'id_concepto': $(elemento).val()},
            success: function(data, status) {
            	
            	$(selector).val(data.value);
				//para que filtre desde el principio
            	$(selector).trigger('change');
            	
            },
            dataType: "json"
          });
	} else {
		$(elemento).attr('disabled', true);
	}

}


function update_aplicaciones() {
	var neto = parseFloat($('#id_imp_neto').val());

	if (! neto) {
		var neto = 0.0;
		}
	
	var aplicaciones = 0.0;
	$('input[id$="-imp_neto"]').each(function(){
		var value = parseFloat($(this).val());
		if (value) {
			aplicaciones += value;
			}
		});
	
	var falta = neto - aplicaciones;

	$('#id_total_aplicado').val(aplicaciones.toFixed(2));
	$('#id_falta_aplicar').val(falta.toFixed(2));
	
}
	


</script>


{% endblock %}