{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.js"></script>

    <link type="text/css" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.8.6.custom.css" rel="Stylesheet" />
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.6.custom.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/combo_box.js"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}js/ajax_fix.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/calendar_fix.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/factura_field.js"></script>
    
    <script type="text/javascript">
      $(document).ready(function() {
    	  
    	init_factura_field('id_n_factura');
    	  
        $('#id_presupuesto').combobox().change(get_info).trigger('change');

        $('#id_proveedor').combobox().change(update_obra_y_presupuestos);
        $('#id_obra').combobox().change(update_proveedor_y_presupuestos);

        $('#id_imp_neto').change(update_importe);
		
      	//boton imprimir
    	$('.submit-row').append('<input id="externa" type="button" class="default" value="Imprimir orden de pago"/>');
    	{% if  original.id %}
    		$('#externa').click(function(){location.href='{% url externa original.id%}';});
    	{% else %}
    		$('#externa').attr("disabled", true);
        {% endif %}
        
      });


    function get_info(){

        var id_pres = $('#id_presupuesto').val();
        $.ajax({
          type: 'POST',
          url: "{% url get_pago_obra_info %}",
          data: {'pres_id': id_pres},
          success: function(data, status) {
            $('#id_tipo_presupuesto').val(data.tipo_presupuesto);
            $('#id_nro_presup_externo').val(data.nro_pres_ext);
            $('#id_estado_de_obra').val(data.estado_obra);
            $('#id_descripcion_pres').val(data.desc_pres);
            $('#id_observaciones_pres').val(data.obs_pres);
            $('#id_importe_contratado').val(data.imp_cont);
            $('#id_total_aplicaciones').val(data.tot_ap);
            $('#id_saldo').val(data.saldo);

			setComboOption('#id_proveedor', data.id_proveedor, data.proveedor);
			setComboOption('#id_obra', data.id_obra, data.obra);
				
            
          },
          dataType: "json"
        });               
      
    }


  	function update_obra_y_presupuestos(){
  		var id_proveedor = $('#id_proveedor').val();

  		$.ajax({
            type: 'GET',
            url: "{% url filter_obras %}",
            data: {'id_proveedor': id_proveedor},
            success: function(data, status) {
            	$('#id_obra').find('option').remove();
            	for (var i=0; i < data.values.length; i++){
            		$('#id_obra').append('<option value="' + data.values[i] 
                    		+ '">' + data.names[i] + '</option>');
            	}
            },
            dataType: "json"
          });
  		

  		update_presupuestos();
  	}

  	function update_proveedor_y_presupuestos(){
  		var id_obra = $('#id_obra').val();

  		$.ajax({
            type: 'GET',
            url: "{% url filter_proveedor %}",
            data: {'id_obra': id_obra},
            success: function(data, status) {
            	$('#id_proveedor').find('option').remove();
            	for (var i=0; i < data.values.length; i++){
            		$('#id_proveedor').append('<option value="' + data.values[i] 
                    		+ '">' + data.names[i] + '</option>');
            	}
            },
            dataType: "json"
          });
  		

  		update_presupuestos();
  	}

	function update_presupuestos() {
		var id_proveedor = $('#id_proveedor').val();
		var id_obra = $('#id_obra').val();

		setComboOption('#id_presupuesto', "", "");

		$.ajax({
            type: 'GET',
            url: "{% url filter_presupuestos %}",
            data: {'id_proveedor': id_proveedor, 'id_obra' : id_obra},
            success: function(data, status) {
            	$('#id_presupuesto').find('option').remove();
            	for (var i=0; i < data.values.length; i++){
            		$('#id_presupuesto').append('<option value="' + data.values[i] 
                    		+ '">' + data.names[i] + '</option>');
            	}
            },
            dataType: "json"
          });
	}

	function update_importe() {

		var importe = $('#id_imp_neto').val();
		var id_factura = $('#id_tipo_factura').val();
		
		$.ajax({
		      type: 'POST',
		      url: "{% url get_importe_a_cobrar %}",
		      data: {'importe': importe, 'id_factura' : id_factura},
		      success: function(data, status) {
		          $('#id_imp_a_cobrar').val(data.importe);	                      
		      },
		      dataType: "json"
		    });
		
	}

      
    </script>

{% endblock %}
