<div id="inputs">
    <p>
        <label for="tot_aplicado">Total aplicado:</label>
        <input type="text" maxlength="15" name="tot_aplicado" id="id_tot_aplicado" readonly="readonly" value={{ tot_apli }}>
    </p>
    <p>
        <label for="id_apellido">Falta Aplicar:</label>
        <input type="text" maxlength="15" name="apellido" id="id_apellido" readonly="readonly" value={{ falta }}>
    </p>
    <p>
        <label for="id_apellido">Total:</label>
        <input type="text" maxlength="15" name="apellido" id="id_apellido" readonly="readonly" value={{ tot }}>
    </p>
    <p>
        <label for="id_apellido">Total a pagar:</label>
        <input type="text" maxlength="15" name="apellido" id="id_apellido" readonly="readonly" value={{ tap }}>
    </p>
</div>
